alias l="ls -lA"
alias ll='ls -l'
alias la='ls -a'
alias gvim='/Applications/MacVim.app/Contents/MacOS/Vim -g'
alias dev='cd ~/dev'
alias g="git"
alias gc="g co"
alias gb="g br"
alias gs="g st"
alias gd="g diff"
alias gst="g stash"
alias gi="g ci"
alias gl="g log"
alias gp="g pull"
alias gps="g pushme"
alias ga="g add"
alias gcp="g cherry-pick"
alias gsh="g show"
alias grh="g reset --hard"
alias gr="g reset"
alias andmnt="hdiutil attach ~/android.dmg.sparseimage -mountpoint /Volumes/android"
alias sshdesk='ssh dhou.mtv -t "tmux attach -d"'
alias ducks="du -cks * | sort -rn"
alias gsync="git5 sync"
alias trackyt="git5-track-p4-depot-paths //depot/google3/googlemac/iPhone/YouTube/p4_depot_paths //depot/google3/googlemac/iPhone/YouTube/YouTube/p4_depot_paths //depot/google3/tools/osx/p4_depot_paths"
alias genprj="cd ~/src/dhou-youtube/google3/ && ./googlemac/iPhone/YouTube/Tools/Bazel/GenerateMyProject.py --disable_drishti --disable_feature_vr --project YouTube"
alias gentest="cd ~/src/dhou-youtube/google3/ && ./googlemac/iPhone/YouTube/Tools/Bazel/GenerateMyProject.py --disable_drishti --disable_feature_vr --device_cpu=x86_64 --project YouTubeFunctionalTests"
alias genmobler="cd ~/src/dhou-youtube/google3/ && ./googlemac/iPhone/YouTube/Tools/Bazel/GenerateMyProject.py --disable_drishti --disable_feature_vr --enable_feature_elements --project YouTube"
alias mendelbrot="/usr/bin/mendel --frontend=youtube"
alias innercap=/google/data/ro/projects/youtube/innertube/innercap
