# LLDB Init
# http://lldb.llvm.org/tutorial.html

# Import Frameworks
# http://furbo.org/2015/05/11/an-import-ant-change-in-xcode/
command alias uikit expr @import UIKit
command alias foundation expr @import Foundation

# Facebook Chisel
command script import /usr/local/opt/chisel/libexec/fblldb.py

command alias whoami po @(__PRETTY_FUNCTION__)

# Symbolic Breakpoint
# UIApplicationMain
# uikit
# foundation

# Printing
command alias pi print (int)
command alias pf print (float)
command alias pv print (CGRect) self.view.frame

# Reveal
# http://blog.ittybittyapps.com/blog/2013/11/07/integrating-reveal-without-modifying-your-xcode-project/
command alias reveal_load_sim expr (void*)dlopen("/Applications/Reveal.app/Contents/SharedSupport/iOS-Libraries/libReveal.dylib", 0x2);
command alias reveal_load_dev expr (void*)dlopen([(NSString*)[(NSBundle*)[NSBundle mainBundle] pathForResource:@"libReveal" ofType:@"dylib"] cStringUsingEncoding:0x4], 0x2);
command alias reveal_start expr (void)[(NSNotificationCenter*)[NSNotificationCenter defaultCenter] postNotificationName:@"IBARevealRequestStart" object:nil];
command alias reveal_stop expr (void)[(NSNotificationCenter*)[NSNotificationCenter defaultCenter] postNotificationName:@"IBARevealRequestStop" object:nil];

# Breakpoint Shortcuts
command alias b breakpoint set
command alias bd breakpoint disable
command alias be breakpoint enable
command alias bdel breakpoint delete
command alias bcommand breakpoint command add
command alias commands breakpoint command list

# Threading
command alias return thread return

settings set -g target.inline-breakpoint-strategy always

